{% if page.title == nil %}
  <meta property="og:title" content="{{ site.title }} - {{ site.tagline }}"/>
{% else %}
  <meta property="og:title" content="{{ page.title }}"/>
{% endif %}
{% if page.is_post %}
  <meta property="og:type" content="article" />
  {% if page.summary != null %}
  <meta property="og:description" content="{{ page.summary }}" />
  {% endif %}
  {% if page.sitemap.lastmod == null %}
  <meta property="article::published_time" content="{{ page.date | date_to_xmlschema }}" />
  {% else %}
  <meta property="article::published_time" content="{{ page.sitemap.lastmod | date_to_xmlschema }}" />
  {% endif %}
  <meta property="article:author" content="{{ site.url }}/about/" />
  {% for category in page.categories %}
  <meta property="article:section" content="{{ category }}" />
  {% endfor %}
  {% for tag in page.tags %}
  <meta property="article:tag" content="{{ tag }}" />
  {% endfor %}
{% elsif page.is_profile %}
  <meta property="og:type" content="profile" />
  <meta property="profile:first_name" content="{{ site.author.first_name }}">
  <meta property="profile:last_name" content="{{ site.author.lastname }}">
  <meta property="profile:gender" content="male">
  <meta property="profile:username" content="marcus.efraimsson">
{% else %}
  <meta property="og:type" content="website" />
{% endif %}
{% if page.image and page.image.large %}
  <meta property="og:image" content="{{site.url}}{{page.image.large.src}}" />
{% elsif page.image and page.image.thumbnail %}
  <meta property="og:image" content="{{site.url}}{{page.image.thumbnail.src}}" />
{% else %}
  <meta property="og:image" content="{{site.url}}/public/images/avatar.jpg" />
{% endif %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:app_id" content="{{ site.facebook_appid }}" />