<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<div class="sidebar" id="sidebar">
  <a href="{{ site.github.repo }}"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/c6625ac1f3ee0a12250227cf83ce904423abf351/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png"></a>
  <div class="avatar" style="position: relative; z-index: 1000;">
    <img src="/public/images/avatar.jpg">
  </div>
  <div class="sidebar-item" style="position: relative; z-index: 1000; padding: 15px 0 25px 0;">
    <p style="text-align: center;">{{ site.tagline }}</p>
  </div>
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>
    <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about/">About</a>
    <a class="sidebar-nav-item{% if page.url == '/archive/' %} active{% endif %}" href="/archive/">Archive</a>
    <div class="sidebar-nav-item" style="padding-top: 1em;">
      {% include social_icons.html %}
    </div>
  </nav>
  <div class="sidebar-item">
    <p>&copy; <a href="/about/">Marcus Efraimsson</a> {{ site.time | date: '%Y' }}.</p>
  </div>
</div>