<div class="social-icons">
  <a class="twitter" href="{{ site.author.twitter}}" rel="me" target="_blank" title="Follow {{ site.author.name }} on Twitter">
    <i class="fa fa-twitter"></i>
  </a>
  <a class="facebook" href="{{ site.author.facebook}}" rel="me" target="_blank" title="{{ site.author.name }}'s' Facebook profile">
    <i class="fa fa-facebook"></i>
  </a>
  <a class="linkedin" href="{{ site.author.linkedin}}" rel="me" target="_blank" title="{{ site.author.name }}'s' Linkedin profile">
    <i class="fa fa-linkedin"></i>
  </a>
  <a class="github" href="{{ site.author.github}}" rel="me" target="_blank" title="{{ site.author.name }}'s' Github profile">
    <i class="fa fa-github"></i>
  </a>
  <a class="rss" href="/atom.xml" title="Subscribe to {{ site.author.name }}'s' feed">
    <i class="fa fa-rss"></i>
  </a>
</div>