<div class="social-icons">
  <a href="{{ site.author.twitter}}" rel="me" target="_blank" title="Follow {{ site.author.name }} on Twitter">
    <img src="/public/images/twitter.png" alt="Follow {{ site.author.twitter_alias }} on Twitter"/>
  </a>
  <a href="{{ site.author.facebook}}" rel="me" target="_blank" title="{{ site.author.name }}'s' Facebook profile">
    <img src="/public/images/facebook.png" alt="{{ site.author.name }}'s' Facebook profile"/>
  </a>
  <a href="{{ site.author.linkedin}}" rel="me" target="_blank" title="{{ site.author.name }}'s' Linkedin profile">
    <img src="/public/images/linkedin.png" alt="{{ site.author.name }}'s' Linkedin profile"/>
  </a>
  <a href="{{ site.author.google}}" rel="me" target="_blank" title="{{ site.author.name }}'s' Google+ profile">
    <img src="/public/images/google_plus.png" alt="{{ site.author.name }}'s' Google+ profile"/>
  </a>
  <a href="{{ site.author.github}}" rel="me" target="_blank" title="{{ site.author.name }}'s' Github profile">
    <img src="/public/images/github.png" alt="{{ site.author.name }}'s' Github profile"/>
  </a>
  <a href="/atom.xml" title="Subscribe to {{ site.author.name }}'s' feed">
    <img src="/public/images/rss.png" alt="Subscribe to {{ site.author.name }}'s' feed"/>
  </a>
</div>